<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ngWeekly-1</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css"/>
</head>
<body>
<div class="container">
  <div class="col-sm-12">
    <h1 text-center>Choose a country:</h1>

      <div class="input-group-inline">
        <input ng-model="input.country.name" class="input-lg form-control-inline"/>
        <button ng-click="getThatData()" class="btn btn-primary">GO</button>
      </div>
      <br/>

    <br/>
    <ul class="list-group country-details">
      <li class="list-group-item">Name: {{country.name}}</li>
      <li class="list-group-item">Region: {{country.region}}</li>
      <li class="list-group-item">Capital: {{country.capital}}</li>
      <li class="list-group-item">Popuplation: {{country.population}}</li>
      <li class="list-group-item">
         Calling Codes:
         <ul class="list-group calling-codes">
           <li ng-repeat="code in country.callingCodes">{{code}}</li>
         </ul>
      </li>
      <li class="list-group-item">
        Languages:
        <ul class="list-group languages">
          <li ng-repeat="lang in languages">{{lang}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
</body>
</html>
